################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

*.sqlite-journal
/communication/target/
/jee/traitement/target/
/jee/communication/target/